:root {
  --top-bar-height: 5vh;
  --top-bar-height-mobile: 6vh;
  --top-bar-height-tablet: 16vh;
  --main-container-offset: 3.4vh;
  --messages-wrapper-height: calc(980vh - var(--top-bar-height));
  --messages-wrapper-height-mobile: calc(980vh - var(--top-bar-height-mobile));
}

body {
  background-color: var(--bg);
  color: var(--fg);
  margin: 0;;
  font-family: "Roboto Mono", monospace;
}

.top-bar {
  background-color: var(--accent);
  position: fixed;
  width: 100%;
  height: var(--top-bar-height);
  top: 0;
  display: flex;
  align-items: center;
}

.to-chats-button {
  display: none;
}

.main-container {
  margin-top: calc(var(--top-bar-height) + var(--main-container-offset));
  width: 100vw;
  height: calc(100vh - var(--main-container-offset) - var(--top-bar-height));
  display: flex;
  flex-direction: column;
  align-items: center;
}

.messages-wrapper {
  width: 60%;
  height: var(--messages-wrapper-height);
  justify-self: center;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.message {
  background-color: var(--accent);
  color: var(--bg);
  max-width: 40%;
  min-height: 30px;
  margin-bottom: 5px;
  border-radius: ;
  padding: 5px 10px 5px 10px;
  font-size: 18px;
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  justify-items: center;
}

.owned-message {
  align-self: flex-end;
}

.non-owned-message {
  align-self: flex-start;
}

.message-input-wrapper {
  width: 100%;
  height: 6vh;
  margin-bottom: 2vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.message-input {
  background-color: var(--bg-alt);
  color: var(--fg);
  width: 65%;
  height: 100%;
  border: 0;
  outline: none;
  border-radius: 2vh;
  font-size: 2vh;
  padding: 0 10px 0 10px;
}

.send-message-button {
  background-image: url('send-message-icon-dark.png');
  background-size: cover;
  background-color: var(--accent);
  width: 5vh;
  height: 5vh;
  border: 0;
  border-radius: 100%;
}

.send-message-button:hover {
  background-color: var(--accent-dark);
}

.send-message-button:active {
  background-color: var(--accent-darker);
}

@media (pointer:none), (pointer:coarse) {
  .top-bar {
    height: var(--top-bar-height-mobile);
  }

  .nav-buttons {
    margin-left: 7px;
    margin-right: auto;
    align-self: stretch;
    display: flex;
    align-items: center;
  }

  .to-chats-button {
    display: block;
    background-image: url('left-arrow-icon-dark.png');
    background-size: cover;
    background-color: transparent;
    color: var(--bg);
    width: var(--top-bar-height);
    height: var(--top-bar-height);
    border: 0;
    font-size: 10px;
    border-radius: 50%;
  }

  .to-chats-button:hover {
    background-color: var(--accent-dark);
  }

  .to-chats-button:active {
    background-color: var(--accent-darker);
  }

  .main-container {
    top: calc(var(--top-bar-height-mobile) + var(--main-container-offset));
    width: 100%;
    height: calc(90vh - var(--main-container-offset) - var(--top-bar-height-mobile));
  }

  .messages-wrapper {
    width: 80%;
  }

  .message {
    max-width: 60%;
    font-size: 20px;
    padding: 2.5px 10px 2.5px 10px;
  }

  .message-input-wrapper {
    height: 6vh;
    margin-bottom: 2vh;
  }

  .message-input {
    width: 75%;
  }

  @media (orientation: landscape) {
    .top-bar {
      height: var(--top-bar-height-tablet);
    }

    .message-input-wrapper {
      height: 15vh;
      margin-bottom: 2vh;
    }

    .message-input {
      width: 85%;
      height: 100%;
      font-size: 6vh;
    }

    .send-message-button {
      width: 15vh;
      height: 15vh;
    }
  }
}
